[include]
    path = ~/.git-user-config
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[push]
	default = current
[diff]
  tool = meld
[difftool]
  prompt = false
[alias]
	push-with-lease = push --force-with-lease
[merge]
	ff = false
[pull]
	ff = only
